.event-page {
    display: flex;
    justify-content: space-around;
    justify-items: center;
    padding-bottom: 12%;
}

.event-article {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
