.event-page {
    display: flex;
    justify-content: space-around;
    justify-items: center;
    padding-bottom: 12%;
}

.event-article {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.edit-delete-event-buttons {
    display: flex;
    justify-content: space-between;
}

#edit-event-button {
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: solid #b34700;
    box-sizing: border-box;
    border-radius: 0.12em;
    font-weight: bold;
    width: 10em;
    height: 4em;
    transition: all 0.2s;
    color: #b34700;
    text-decoration: none;
    background-color: white;
}

#edit-event-button:hover {
    color: white;
    background-color: #b34700;
}

#delete-event-button {
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: solid #b34700;
    box-sizing: border-box;
    border-radius: 0.12em;
    font-weight: bold;
    width: 10em;
    height: 4em;
    transition: all 0.2s;
    color: #b34700;
    text-decoration: none;
    background-color: white;
}

#delete-event-button:hover {
    color: white;
    background-color: #b34700;
}
