.home-content-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 20%);
    grid-template-rows: auto;
    margin-top: 20px;
    column-gap: 30px;
    row-gap: 25px;
    justify-content: center;
}

.home-links {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 20px;
    color:#002699;
    text-decoration: none;
}

.event-container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    transition: box-shadow .5s;
}

.event-container:hover {
    box-shadow: 0px 2px 5px 5px #8B89E5;
}

.fas {
    margin-top: 10px;
}

.welcome-message-container {
    display: flex;
    justify-content: center;
    color: #b34700;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 20px;
}

.home-page {
    padding-bottom: 310px;
    height: auto;
}
