.profile-items {
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 25px;
}

.events-container {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 10px;
    margin-left: 30px;
}

.single-event-container {
    margin-top: 10px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    row-gap: 10px;
}

.user-events-label {
    display: flex;
    justify-content: space-around;
    color: #00802b;
    font-weight: bold;
    font-size: 24px;
}

.event-links {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 20px;
    color:#002699;
    text-decoration: none;
    transition: box-shadow .5s;
}

.event-links:hover {
    text-shadow: 1px 1px 2px #b34700, 0 0 1em blue
}
