.hosted-event-container {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 10px;
    margin-left: 30px;
}

.host-event-container {
    margin-top: 10px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    row-gap: 10px;
}

.user-events-label {
    display: flex;
    justify-content: space-around;
    color: #00802b;
    font-weight: bold;
    font-size: 24px;
}

.hosted-event-links {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 20px;
    color:#002699;
    text-decoration: none;
    transition: box-shadow .5s;
}

/* .hosted-event-links:hover {
    box-shadow: 0px 2px 5px 5px #8B89E5;
} */
