.splash-page-image-layer {
    position: relative;
}

.splash-recent-events {
    display: grid;
    grid-template-columns: repeat(auto-fill, 20%);
    grid-template-rows: auto;
    margin-top: 20px;
    column-gap: 10px;
    row-gap: 10px;
    justify-content: center;
    margin-bottom: 50px;
}

#splash-image {
    width: 100%;
}

#splash-message-container {
    background-color: #b34700;
    display: flex;
    position: absolute;
    top: 15%;
    left: 14%;
    height: 200px;
    width: 600px;
    justify-content: center;
    align-items: center;
}

#splash-text {
    color: white;
    font-size: 2.5em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#start-button {
    position: absolute;
    background-color: #00802b;
    color: white;
    top: 40%;
    left: 19%;
    height: 50px;
    width: 210px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1em;
}
