.splash-page-image-layer{
    position: relative;
}



#splash-image {
    width: 100%;
}

#splash-message-container {
    background-color: #b34700;
    display: flex;
    position: absolute;
    top: 19%;
    left: 19%;
    height: 100px;
    width: 400px;
    justify-content: center;
    align-items: center;
}
