.splash-page-image-layer{
    position: relative;
}



#splash-image {
    width: 100%;
}

#splash-message-container {
    background-color: #b34700;
    position: absolute;
    top: 20%;
    left: 20%;
}
