.login-form {
    background-color: lightgreen;
    display: grid;
    grid-template-columns: 500px;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr ;
    justify-items: center;
    justify-content: center;
}

.labels {
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

.errors {
    margin-bottom: 10px;
}

.submit-login {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 47%;
    height: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.input {
    width: 240px;
    height: 30px;
}
