.navbar {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
    margin-bottom: 20px;
}

.home {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #b34700;
    font-weight: 400;
    font-size: 20px;
    text-decoration: none;
}

.create-fair {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #00802b;
    font-weight: 400;
    font-size: 20px;
    text-decoration: none;
}

button {
    box-sizing: content-box;
    width: 100px;
    height: 20px;
}

.fa-user {
    display: flex;
    color: green;
    align-items: center;
    justify-content: center;
}

.session-button {
    color: #b34700;
}
