.navbar {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
    margin-bottom: 20px;
}

.home {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #b34700;
    font-weight: 400;
    font-size: 20px;
    text-decoration: none;
}

.create-fair {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #00802b;
    font-weight: 400;
    font-size: 20px;
    text-decoration: none;
}

button {
    box-sizing: content-box;
    width: 100px;
    height: 20px;
}

.fa-user {
    display: flex;
    border: solid #00802b;
    color: #00802b;
    transition: all 0.2s;
    align-items: center;
    justify-content: center;
    height: 1.8em;
    width: 5em;
}

.fa-user:hover {
    background-color: #00802b;
    color: white;
}

.session-button {
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: solid #b34700;
    box-sizing: border-box;
    border-radius: 0.12em;
    font-weight: bold;
    transition: all 0.2s;
    color: #b34700;
    text-decoration: none;
    background-color: white;
    margin-top: 18px;
}

.session-button:hover {
    color: white;
    background-color: #b34700;
}

